# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
venv_linux/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log